body{
  text-align: center;
}

.container-fluid {
  padding: 60px 100px;
}

.bg-grey {
      background-color: #f6f6f6;
}

/* Concact Form */
.contact {
  padding: 40px 150px;
}

/* Footer */
.color-dark{
  background-color: #3f3f43;
  color: white;
}

.color-dark a {
  color: white;
}

.logo-text {
  font-size: 20px;
  text-align: center;
}

.news-other {
  padding-top: 57px;
}

h3{
  margin-bottom: 20px;
  font-style: center;
}

body, html {
    height: 100%;
}

/* Banner */
.banner{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 50px;
    width: 100%;
}

.home-image{
  background-image: url("images/home.jpg");
  height: 90%;
}

.about-image{
  background-image: url("images/about.jpg");
}

.contact-image{
  background-image: url("images/banner.jpg");
}

.admission-image{
  background-image:  url("images/admission.jpg");
}

.courses-image{
  background-image:  url("images/courses.jpg");
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 50px;
    width: 100%;
}

.banner-height{
  height: 75%;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}

.requirements, .procedure{
  padding:10px 100px;
}

.courses-list {
  padding-left: 40px;
}

.courses {
  padding: 0px 40px;
}

.display-3{
  color:white;
  font-weight:bold;
}

.lead{
  font-size: 30px;
}

.button{
  padding-right: 50px;
  padding-left: 40px;

}


.nav{
  text-align: center;
}

.row{
  padding-left: 550px;
  padding-right: 200px;
  text-align: justify;
}

.breadcrumb{
  padding-left: 550px;
  font-size: 20px;
}

.breadcrumb-item{
  padding-right: 50px;
}


.card-title{
  text-align: center;
}

.card-text{
  text-align: justify;
}

.foot{
  padding-left: 700px;
}