

.send-donation{
	padding: 70px 190px;
}

.plan{
	padding: 70px 190px;
}
.footer-links{
	margin: auto;
}

.left-panel{
	float: right;
	max-width: 30rem; 
	height: 12rem;

}

.right-panel{
	float: left;
	max-width: 30rem; 
	height: 12rem;
}

.plan-panel{
	padding-top: 40px;
}

.foot{
  padding-left: 500px;
}

